@import "../../styles/function";
@import "../../styles/variable";


.main-sec {
    min-height: 500px;
    margin-top: 70px;
}

@media screen and (max-width: 768px){
    .main-sec{
        margin-top: 40px;
    }
}
