@import "../../styles/function";
@import "../../styles/variable";

.intro {
    width: 90%;

    @include flex(row, center);
    flex-wrap: wrap;
    margin: 100px auto;
}

#arrow path:nth-child(1) {
    stroke-dasharray: 2347px;
    stroke-dashoffset: 2347px;
    animation: line 2s ease forwards 0.5s;
}

#arrow path:nth-child(2) {
    stroke-dasharray: 263px;
    stroke-dashoffset: 263px;
    animation: line 1s ease forwards 2s;

}

@keyframes line {
    to {
        stroke-dashoffset: 0;
    }
}

.idea {
    text-align: center;
    width: 20%;
    margin: auto;
    object {
        width: 100%;
        height: 300px;
    }

    p {
        font-size: 1rem;
        font-weight: bold;
        opacity: 0;
        z-index: -1;
        margin-top: 20px;
        animation: ops 1.3s forwards;
    }
}

.web {
    text-align: center;
    width: 20%;
    margin: auto;

    object {
        margin-top: 30px;
        width: 110%;
        height: 300px;
        margin-left: 35px;
        opacity: 0;
        // transform: translateX(100px);
        animation: scaling 1s forwards 3s;
        transition: all 0.3s ease;
    }

    p {
        font-size: 1rem;
        font-weight: bold;
        opacity: 0;
        margin-bottom: -10px;
        transform: translateY(80px);
        animation: ops 1s forwards 2.7s;
        z-index: -1;
    }
}

.arrow {
    text-align: center;
    width: 40%;
    margin: 60px auto 0;

    p {
        font-size: 1rem;
        font-weight: bold;
        opacity: 0;
        margin-top: 20px;
        margin-bottom: -58px;
        transform: translateX(65px);
        animation: ops 1s forwards 1s;
        z-index: -1;
    }
}

@keyframes scaling {
    to {
        opacity: 1;
        transform: translateX(-20px) ;
    }
}

@keyframes ops {

    to {
        opacity: 0.7;
        transform: translate(0%);
    }
}

@media screen and (max-width:768px) {
    .intro {
        margin: auto;
        height: 450px;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    .idea {
        width: 30%;
        height: 80px;
        margin:0px auto;
        // margin-left: -40px;

        object {
            // display: none;
            height: 110px;
        }
    }

    .arrow {
        width: 30%;
        height: 100px;
        margin:0px auto;

        // margin-left: -40px;
        // margin-top: 40px;
        margin-bottom: 0px;

        p{
            padding-top: 0px;
            margin: 0;
            display: none;
        }

        svg {
            // display: none;
            transform: rotate(90deg);
            width: 80px;
            height: 120px;
        }
    }

    .web {
        height: 100px;
        width: 90%;
        margin:-110px auto 90px;
        // margin-top: -0px;

        object {
            // display: none;
            // margin:15px auto;
            // margin-left: -200px;
            width: 120px;
            height: 130px;
        }
        p{
            padding-top: 0px;
        }
    }
    p{
        text-align: center;
        margin: 0;
        padding: 0;
    }

}
